<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <h3><b>Datos de consulta recibida</b></h3>
  <p>Nombre: {{nombre}}</p>
  <p>Correo Eléctronico: {{correo}}</p>
  <p>Asunto: {{asunto}}</p>
  <p>Mensaje: {{mensaje}}</p>
</body>
</html>