{% extends 'layout/base-layout.html.twig' %}
{% block page_title %}Dashboard{% endblock %}
{% block page_content %}
    <div class="box box-primary" align="center" style="" >
        <p style="margin-bottom:3%">
        <h2 style="color: rgba(44,163,199,1);font-family:Palatino Header"><STRONG>Bienvenido {% if app.user is not null and is_granted('IS_AUTHENTICATED_FULLY') %}{{app.user.getName()}}{% endif %}</STRONG></h2>
        <img src="{{ asset('bundles/app/images/logo.jpg') }}" width="25%"></img>
        <h3 style="color: rgba(44,163,199,1);font-family:Palatino Header">Sistema Informático Para La Gestión De Becas Universitarias Del Proyecto Educational Scholarships For Students Of Chiltiupan</h3>
        </p>
        <br></br>
        <br></br>
    </div>
{% endblock %}