{% extends "layout/base-layout.html.twig" %}

{% block page_title %} Menu | Fondos {% endblock %}


{% block page_content %}


    <div class="box box-primary">
        <div style="width:90%; margin-left:5%; margin-top: 2% ">
            <div class="row">
                {% if app.user.hasRole('ROLE_ADMIN') or app.user.hasRole('ROLE_FINANCIERO') or app.user.hasRole('ROLE_COORDINADOR') %}      
                    <div class="col-lg-6 col-xs-6">
                        <!-- small box -->
                        <div class="small-box bg-aqua">
                            <div class="inner">
                                <h3>Cuentas</h3>

                                <p>Administrar Cuentas</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-card"></i>
                            </div>
                            <a href="{{path('cuenta_index')}}" class="small-box-footer">Administrar <i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                {% endif %}
                <!-- ./col -->
                <div class="col-lg-6 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-green">
                        <div class="inner">
                            <h3>Movimientos<sup style="font-size: 20px"></sup></h3>

                            <p>Administrar Movimientos</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-stats-bars"></i>
                        </div>
                        <a href="{{path('movimiento_index')}}" class="small-box-footer">Administrar <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-6 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-yellow">
                        <div class="inner">
                            <h3>Cheques</h3>

                            <p>Administrar Cheques</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-cash"></i>
                        </div>
                        <a href="#" class="small-box-footer">Administrar<i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-6 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-red">
                        <div class="inner">
                            <h3>Beca</h3>

                            <p>Entregar Beca</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-pie-graph"></i>
                        </div>
                        <a href="#" class="small-box-footer">Consultar <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
            </div>
        </div>
    </div>

{% endblock %}